<script type='text/javascript' src="/script.js"></script>
<script>
    function openForm() {
        document.getElementById("myForm").style.visibility= "visible";
      }

  function closeForm() {
      document.getElementById("myForm").style.visibility = "hidden";
  }

</script>
</body>
</html>
