<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>4^3</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="responsiveDesign.css">
    <link rel="stylesheet" href="chatbox.css">
    <!-- Fonts below -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <!-- Scripts -->
    <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  </head>
  <body>
