<% include ./partials/header %>

<div class="container">

  <div class="name">
    <span class="alt-title">
      How To Play
    </span>
  </div>

  <div class="main-dis">

  </div>

  <footer>
    <p>
      <a href="/">Back</a>
    </p>
  </footer>
</div>


<% include ./partials/footer %>
