<% include ./partials/header %>

    <div class="container">

      <div id="name">
        <span id="title">
          4<sup>3</sup>
        </span>
      </div>

      <div class="menu">

        <p>
          <a href="/public-game" class="menu-text">Quick Play</a>
        </p>

        <p>
          <a href="/private-game" class="menu-text">Private Game</a>
        </p>

        <p>
          <a href="/how-to-play" class="menu-text">How To Play</a>
        </p>

      </div>

    </div>

<% include ./partials/footer %>
