<% include ./partials/header %>

    <div class="container">

      <div id="name">
        <span id="title">
          4
        </span>
      </div>

      <div class="menu">
        <p>
          <a href="/public-game">Public Game</a>
        </p>

        <p>
          <a href="/private-game">Private Game</a>
        </p>
      </div>

      <footer>
        <p>
          <a href="/how-to-play">How to play</a>
        </p>
      </footer>
    </div>

<% include ./partials/footer %>
