<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>4^3</title>
    <link rel="stylesheet" href="main.css">
    <!-- Fonts below -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <div id="name">
        <span id="title">
          4
        </span>
      </div>

      <div class="menu">
        <p>
          <a href="/public-game">Public Game</a>
        </p>

        <p>
          <a href="/private-game">Private Game</a>
        </p>
      </div>

      <footer>
        <p>
          <a href="/how-to-play">How to play</a>
        </p>
      </footer>
    </div>

  </body>
</html>
