<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>4^3</title>
    <link rel="stylesheet" href="main.css">
    <!-- Fonts below -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <div id="name">
        <span id="title">
          4
        </span>
      </div>

      <div class="menu">
        <p>public game</p>

        <p>private game</p>
      </div>

      <footer>
        <p>How to play</p>
      </footer>
    </div>

  </body>
</html>
