<% include ./partials/header %>

<div class="container">

  <div id="name">
    <span id="title">
      4<sup>3</sup>
    </span>
  </div>

  <div class="menu">
    <p>
      <a href="" class="menu-text">Start Match</a>
    </p>

    <p>
      <a href="" class="menu-text">Create Room</a>
    </p>

    <p>
      <a href="/">Back</a>
    </p>
  </div>


</div>

<% include ./partials/footer %>
