<% include ./partials/header %>

<div class="container">

  <div id="name">
    <span id="title">
      4
    </span>
  </div>

  <div class="menu">
    <p>
      <a href="" class="menu-text">Local Game</a>
    </p>

    <p>
      <a href="" class="menu-text">Play against a computer</a>
    </p>
  </div>

    <p>
      <a href="/">Back</a>
    </p>
</div>

<% include ./partials/footer %>
