<% include ./partials/header %>

<div class="container">

  <div id="name">
    <span id="title">
      4
    </span>
    <p class="alt-title">
      Online Game
    </p>
  </div>

  <div class="main-dis">
    <p>Searching for a match</p>
    <p>. . .</p>
  </div>

  <footer>
    <p>
      <a href="/">Back</a>
    </p>
  </footer>
</div>

<% include ./partials/footer %>
