<% include ./partials/header %>

<div class="container">

  <div class="name">
    <span id="title">
      4<sup>3</sup>
    </span>
    <p class="alt-title">
      Online Game
    </p>
  </div>

  <div class="main-dis">
    <p>Looking for a match</p>
    <p>
      <span class="loader__dot">.</span>
      <span class="loader__dot">.</span>
      <span class="loader__dot">.</span>
    </p>
  </div>

  <footer>
    <p>
      <a href="/">Back</a>
    </p>
  </footer>
</div>

<% include ./partials/footer %>
