<% include ./partials/header %>

<div class="container">

  <div class="name">
    <span id="title">
      4<sup>3</sup>
    </span>
    <p class="alt-title">
      Online Game
    </p>
  </div>

  <div class="main-dis">
    <p>Looking for a match</p>
    <p>
      <span class="loader__dot" style="color:#fff">.</span>
      <span class="loader__dot" style="color:#fff">.</span>
      <span class="loader__dot" style="color:#fff">.</span>
    </p>
  </div>

  <footer>
    <p>
      <a href="/">Back</a>
    </p>
  </footer>
</div>


<!-- SCALEDRONE LIVE CHAT -->
<div>
<div class="chat-popup" id="myForm">
    <div class="members-count">-</div>
    <div class="members-list" style="size:5">-</div>
    <div class="messages" style="size:5"></div>
    <form class="message-form" onsubmit="return false;">
        <input class="message-form__input" placeholder="Enter to send..." type="text"/>
    </form>
</div>
</div>
<div>

<button class="chat-btn open-button" onclick="openForm()">Show</button>
<button class="chat-btn close-button" onclick="closeForm()">Hide</button>
</div>

<% include ./partials/footer %>
