
/* LIVE CHAT CSS */
.chat-btn {
  height: 30px;
}

.chat-popup{
  background-color: #171717;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 13px;
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.members-count,
.members-list,
.messages {
  border: 1px solid #505050;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}
.messages {
  flex-shrink: 1;
  max-height: 20%;
  overflow: auto;
}
.message {
  padding: 5px 0;
}
.message .member {
  display: inline-block;
}
.member {
  padding-right: 10px;
  position: relative;
}
.message-form {
  display: flex;
  flex-shrink: 0;
}
.message-form__input {
  flex-grow: 1;
  border: 1px solid #505050;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #212121;
  color: #fff;
  border-radius: 5px;
}
.message-form__button {
  margin: 10px;
}

.chat-popup {
    visibility: visible;
    position: fixed;
    top: 13%;
    right: 15px;
    border: 1px solid #505050;
    z-index: 9;
    }

.open-button {
    position: fixed;
    bottom: 12%;
    right: 9%;
    width: 100px;
    color: #fff;
    background-color: #171717;
    border: 1px solid #505050;
    border-radius: 5px;
    }

.close-button {
    position: fixed;
    bottom: 12%;
    right: 1%;
    width: 100px;
    color: #fff;
    background-color: #171717;
    border: 1px solid #505050;
    border-radius: 5px;
    }
