/* CSS for index.ejs ONLY */

/* Main div in the center of the page */
.container {
  background-color: #fff;
  border-radius: 1.1em;
  box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
  text-align: center;
  height: 525px;
  /* Centers the main container */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.name {
  padding-top: 20px;
}

.menu {
  font-size: 1.5em;
}

/* Title of 4x4x4 */
#title {
  font-family: 'Bungee Shade', cursive;
  color: #303030;
  -webkit-animation: color-change 10s infinite;
  -moz-animation: color-change 10s infinite;
  -o-animation: color-change 10s infinite;
  -ms-animation: color-change 10s infinite;
  animation: color-change 10s infinite;
}
#title sup {
  font-size:.6em;
  vertical-align: top;
}

@-webkit-keyframes color-change {
  0% { color: #F62459; }
  20% { color: #19B5FE; }
  40% { color: #FFA400; }
  60% { color: #26C281; }
  80% { color: #BF55EC; }
  100% { color: #F62459; }
}
@-moz-keyframes color-change {
  0% { color: #F62459; }
  20% { color: #19B5FE; }
  40% { color: #FFA400; }
  60% { color: #26C281; }
  80% { color: #BF55EC; }
  100% { color: #F62459; }
}
@-ms-keyframes color-change {
  0% { color: #F62459; }
  20% { color: #19B5FE; }
  40% { color: #FFA400; }
  60% { color: #26C281; }
  80% { color: #BF55EC; }
  100% { color: #F62459; }
}
@-o-keyframes color-change {
  0% { color: #F62459; }
  20% { color: #19B5FE; }
  40% { color: #FFA400; }
  60% { color: #26C281; }
  80% { color: #BF55EC; }
  100% { color: #F62459; }
}
@keyframes color-change {
  0% { color: #F62459; }
  20% { color: #19B5FE; }
  40% { color: #FFA400; }
  60% { color: #26C281; }
  80% { color: #BF55EC; }
  100% { color: #F62459; }
}
