/* CSS for all other pages */

body {
  background-color: rgb(246,247,248);
  font-family: 'Space Mono', monospace;
}

/* Styles 'back' and 'how to play' */
footer {
  font-size: 1em;
  padding-right: 30px;
  float: right;
}

.alt-title {
  font-size: 1.5em;
  color: #404040;
}

a {
  text-decoration: none;
  color: #303030;
}

a.menu-text:hover {
  font-family: 'Bungee Shade', cursive;
}

a.menu-text:hover:before {
  background-image: url('coin.png');
  background-size: 20px 20px;
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/* For Public Match */

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1.5s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
