/* BELOW IS FOR RESPONSIVE DESIGN */

/* the smallest supported screens */
@media screen and (min-width: 400px) {

  #title {
    font-size: 5em;
  }

  .container {
    min-width: 400px;
  }

  footer {
    padding-top: 150px;
  }

}

/* tablets */
@media screen and (min-width: 800px) {

  #title {
    font-size: 8em;
  }

  .container {
    min-width: 500px;
  }

  footer {
    padding-top: 100px;
  }

}

/* desktop */
@media screen and (min-width: 1300px){

  #title {
    font-size: 8em;
  }

  .container {
    min-width: 500px;
  }

  footer {
    padding-top: 100px;
  }

}
